
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}
main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
hr {
    box-sizing: content-box; 
    height: 0; 
    overflow: visible; 
}

pre {
    font-family: monospace, monospace;  
    font-size: 1em; 
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none; 
    text-decoration: underline; 
    text-decoration: underline dotted; 
}
b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;  
    font-size: 1em;  
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit; 
    font-size: 100%;  
    line-height: 1.15;  
    margin: 0;  
}

button,
input {  
    overflow: visible;
}

button,
select {  
    text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    box-sizing: border-box;  
    color: inherit; 
    display: table; 
    max-width: 100%; 
    padding: 0; 
    white-space: normal; 
}
progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; 
    padding: 0; 
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield; 
    outline-offset: -2px; 
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button; 
    font: inherit;
}
details {
    display: block;
}
summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}
*{
    margin: 0;
    padding: 0;
    font-weight: 400;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    border: 0;
    outline: none;
}
html{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: Raleway,Helvetica,sans-serif;
    font-size: 14px;
}
body{
    font-family: Raleway,Helvetica,sans-serif;
    color: #333;
    position: relative;
}

.text-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 2;
}

#mapContainer{
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
}
.form-container{
    position: absolute;
    transition: left 1s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    max-width: 400px;
    -moz-box-shadow: 2px 0 3px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 2px 0 3px 0 rgb(0 0 0 / 20%);
    box-shadow: 2px 0 3px 0 rgb(0 0 0 / 20%);
    height: 100%;
    background-color: #fff;
}
.inner-form{
    padding: 10px;
    height: 100%;
    overflow-y: auto;
}
.hiddenFixed{
    position: absolute;
    top: 50%;
    right: -20px;
    outline: 0;
    text-align: center;
    width: 20px;
    height: 40px;
    border-radius: 0 40px 40px 0;
    -webkit-transition: -webkit-transform 1s ease,background .5s;
    -moz-transition: -moz-transform 1s ease,background .5s;
    -o-transition: -o-transform 1s ease,background .5s;
    transition: -webkit-transform 1s ease,-moz-transform 1s ease,-o-transform 1s ease,transform 1s ease,background .5s;
    background-color: #fff;
    color: #333;
    -moz-box-shadow: 2px 0 3px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 2px 0 3px 0 rgb(0 0 0 / 20%);
    box-shadow: 2px 0 3px 0 rgb(0 0 0 / 20%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hiddenFixed:hover{
    background-color: #eaeaea;
}

.search-form{
    margin-top: 10px;
    position: relative;
}
.search-group{
    position: relative;
    z-index: 1;
    height: 49px;
    width: 100%;
}
.search-field{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #eaeaea;
    /*border-radius: 7px;*/
    padding-left: 40px;
    padding-right: 40px;
    text-overflow: ellipsis;
}
.svg-Icon{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.submitForm{
    background-color: #a5cc00;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    text-align: center;
    border-radius: 7px;
    font-weight: 600;
    transition: background .5s;
    cursor: pointer;
}
.submitForm:hover{
    background: #677f00;
    color: #f4f4f4;
}
.suggestionLocation{
    position: absolute;
    width: 100%;
    border-radius: 0 0 8px 8px;
    background: #f4f4f4;
    top: 49px;
    left: 0;
    box-sizing: border-box;
    z-index: 10;
    transition: max-height .6s ease;
    overflow-y: auto;
    max-height: 500px;
}
.suggestionLocation li{
    background: 0;
    border-bottom: 1px solid #d5d5d5;
    width: 100%;
    margin-left: 0;
    cursor: pointer;
    line-height: 1.5;
    padding: 10px 15px;
    position: relative;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 600;
}
#viaForm{
    display: none;
}
.rightIcon{
    right: 10px;
    left: unset;
    cursor: pointer;
}
.addVia{
    display: flex;
    align-items: center;
    background: 0;
    -webkit-border-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 4px;
    -moz-background-clip: padding;
    border-radius: 4px;
    background-clip: padding-box;
    padding: 4px 4px 4px 0;
    cursor: pointer;
}
.icon-add{
    width: 20px;
    height:20px;
    margin-right: 5px;
}
.topBox{
    /*    border-top: 1px solid #d1d1d1;
        box-shadow: -2px 3px 3px #a9a9a9, 2px 3px 3px #a9a9a9;*/
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 20px 10px 10px;
    box-sizing: border-box;
}
.logoBox{
    width: 160px;
    height: 50px;
    display: block;
}
.flex-top-form, .flex-form{
    margin-top: 10px;
}
.flex-menuBox{
    height: 49px;
    position: relative;
}
.icon{
    width: 50px;
    cursor: pointer;
    padding: 2px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s;
}
.searchLocation{
    max-width: 100%;
    width: calc(100% - 100px);
    height: 100%;
    position: relative;
    background-color: #eaeaea;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
    transition: all 0.15s;
}
.iconMenu{
    background-color: #eaeaea;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow: hidden;
}
.iconDirections{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid transparent;
    border-left: 0;
}

.iconDirections:hover{
    border-color:#eaeaea;
}

#fieldStarting{
    width: 100%;
    height: 100%;
    color: #333;
    font-size: 16px;
    padding: 0 5px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: transparent;
    outline: none;
    box-sizing: border-box;
}
.categories{
    /*padding-top: 24px;*/
}
.flex-group{
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pickButton{
    width: 46px;
    height: 46px;
    margin: 0;
    padding: 0;
    display: inline-block;
    background-color: #fff;
    border: .5px solid #ccc;
    border-radius: 4px;
    text-align: center;
    font-size: 8px;
    -moz-transition: background .5s;
    -webkit-transition: background .5s;
    -o-transition: background .5s;
    transition: background .5s;
    cursor: pointer;
    /*margin-right: 10px;*/
    /*margin-bottom: 10px;*/
    box-sizing: border-box;
}
.flex-transports .pickButton img{
    opacity: 0.8;
}
.flex-transports .pickButton img, .flex-route .pickButton img{
    width: 38px;
    height: 38px;
}
.flex-transports .pickButton, .flex-route .pickButton{
    padding: 3px;
}
.pickButton:hover{
    background: #d8d8d8;
}
.cssBubble{
    top: -30px;
}
.panel{
    /*overflow-y: auto;*/
    /*max-height: 450px;*/
}
.panel p{
    display: flex;
    font-size: 14px;
    margin-bottom: 8px;
    align-items: center;
}
.panel h2{
    white-space: nowrap;
    font-size: 16px;
    margin: 0;
    color: #6f737a;
    background-color: #f1f1f2;
    padding: 5px 10px;
    margin-bottom: 10px;
}
.panel h3{
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 14px;
}
.extendMenu{
    display: none;
    padding-top: 10px;
}
.h2-show{
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
}
.dropLi{
    -webkit-border-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 4px;
    -moz-background-clip: padding;
    border-radius: 4px;
    background-clip: padding-box;
    background: #d5d5d5;
    color: #666;
    font-size: 14px;
    margin: 0 0 3px;
    padding: 10px 15px;
    position: relative;
    text-transform: capitalize;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
}
.dropLi:hover{
    background-color: #c3c3c3;
}

.showMore{
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
    border-radius: 4px;
    /*    margin-top:10px;
        margin-bottom: 10px;*/
    text-transform: capitalize;
    min-width: 80px;
    text-align: center;
}
.findingCategory{
    margin-left: 5px;
    text-decoration: underline;
    max-width: 220px;
}
/*menu_layout*/
.menu_layout{
    background: #424242;
    bottom: 0;
    height: 100%;
    top: 0;
    left: -100%;
    width: 100%;
    max-width: 420px;
    letter-spacing: .5px;
    position: fixed;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
    z-index: 11;
    overflow-y: auto;
}
.innerMenu_layout{
    padding: 10px 0;
}
.logoMenu_layout{
    position: relative;
}
.logoMenu_layout .logoBox{
    padding-left: 52px;
}
.closeBox{
    position: absolute;
    box-sizing: border-box;
    width: 32px;
    height:32px;
    padding: 8px;
    background-color: #000;
    border-radius: 50%;
    left: 10px;
    top: 9px;
    cursor: pointer;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.closeBox:hover{
    transform: scale(0.95);
}
.somethingBox ul{
    padding: 10px 20px;
}
.somethingBox ul li{
    display: block;
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    margin: 0;
}
.somethingBox ul li a{
    font-weight: 400;
    color: #a5cc00;
    text-transform: capitalize;
    cursor: pointer;
    text-decoration: none;
}
.somethingBox ul li a:hover{
    color: #fff;
}
.site-title{
    margin: 15px 0;
    font-size: 24px;
}
.about{
    color: #fff;
    padding: 0 20px;
    height: 0;
    transition: all 0.15s ease;
    display: none;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 20px;
    height: auto;
}
.guide h2{
    margin: 8px 0;
    font-weight: bold;
    font-size: 16px;
}
.guide a, .guide p, .guide li{
    margin-bottom: 8px;
}
.guide ol{
    padding-left: 10px;
}
.guide ol, .guide li{
    list-style-position: inside;
}
/*range*/
.slidecontainer {
    width: 100%;
    animation: opacity 0.25s ease 1;
}
@keyframes opacity {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 7px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 20px;
    margin: auto;
    display: block;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #007eff;
    cursor: pointer;
    border-radius: 50%;
    transition: all 200ms ease-in-out;
}
.slider:active::-webkit-slider-thumb {
    transform: scale(1.2);
}
.slider:active::-moz-slider-thumb {
    transform: scale(1.2);
}
.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #007eff;
    cursor: pointer;
    border-radius: 50%;
}
#limitFinding{
    width: 80px;
    border: 1px solid;
    padding: 5px;
}
.inner-showRange{
    text-align: center;
    display: block;
    padding: 5px;
    padding-top: 10px;
}
.H_ib_body{
    border-radius: 1px!important;
    -webkit-box-shadow: 0 0 0.2rem rgb(0 0 0 / 40%)!important;
    box-shadow: 0 0 0.2rem rgb(0 0 0 / 40%)!important;
}
.H_context_menu{
    background: transparent!important;
    box-shadow: unset!important;
    padding: 0!important;
    display: none;
}
.H_context_menu_item{
    /*display: inline-block;*/
    padding: .3rem .7rem;
    border: 0.1rem solid rgba(15, 22, 33, 0.8);
    border-radius: .5rem;
    background-color: rgba(15, 22, 33, 0.8);
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 8px!important;
}
.H_context_menu_item.clickable:hover{
    -webkit-box-shadow: inset 20.2rem 0 0 -20rem #2ed5c9;
    box-shadow: inset 20.2rem 0 0 -20rem #2ed5c9;
    color: #fff!important;
    background-color: #0f1621!important;
}
.H_ib_content{
    /*white-space: nowrap;*/
    margin: 10px!important;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 250px;
    width: 200px;
    display: -webkit-box!important;
}
.H_ib_close{
    visibility: hidden!important;
}
.back{
    color: #333;
    font-weight: 700;
    outline: 0;
    padding: 9px 9px;
    display: inline-block;
    background-color: #f4f4f4;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 10px;
}
.back:hover{
    background: #d8d8d8;
}
.flex-form{
    display: none;
}

.arrow{
    display: inline-block;
    min-width: 28px;
    min-height: 28px;
    background-position: 0px;
    background-image: url(../imgs/arrows.png);
}
.depart{
    background-position: -28px;
}
.rightuTurn{
    background-position: -56px;
}
.leftuTurn{
    background-position: -84px;
}
.rightkeep{
    background-position: -112px;
}
.leftkeep{
    background-position: -140px;
}
.slightright{
    background-position: -168px;
}
.slightleft{
    background-position: -196px;
}
.rightturn{
    background-position: -224px;
}
.leftturn{
    background-position: -252px;
}
.sharpright{
    background-position: -280px;
}
.sharpleft{
    background-position: -308px;
}
.rightexit{
    background-position: -504px;
}
.leftexit{
    background-position: -532px;
}
.leftroundaboutExit{
    background-position: -840px;
}
.rightroundaboutExit{
    background-position: -1176px;
}
.arrive{
    background-position: -1288px;
}
.ferry{
    background-position: -1428px;
}
.exit{
    background-position: -1540px;
}
.rightramp{
    background-position: -1456px;
}
.leftramp{
    background-position: -1484px;
}

/*1568 56 icon*/
@media (max-width: 690px){
    .form-container{
        max-width: unset;
        height: 200px;
        bottom: 0;
        top: unset;
    }
    .logo-bar{
        display: none;
    }
    .topBox{
        padding-top: 10px;
    }
    .hiddenFixed{
        display: none;
    }
}